name = "rss-parser"
main = "src/index.js"
compatibility_date = "2023-12-01"
send_metrics = false
node_compat = true
minify = true

[vars]
RSS_URL=""
DATABASE_URL=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

[triggers]
crons = ["0 * * * *"]
